@import url('http://127.0.0.1:5501/contacto.css');

:root{
    --color-primario:#ffff;
    --color-secundario:#d15959;
    --color-terciario:#f5edd6;
    --color-cuarto:#0000;
    --color-quinto:#dbffac;
    --color-sexto:#dbe3e0;
    --color-septimo:#c0beb3;

    --fuente-calibri:'calibri', sans serif;
    --fuente-calibri-negrita:'calibri', bold;
    --fuente-Sicret-Mono-PERSONAL:'Sicret Mono PERSONAL', bold;
}

*{
    padding: 0%;
    margin: auto;
}

header{
    display: flex;
    background-color: var(--color-primario);
    color: var(--color-secundario);
    opacity: none;
    height: auto;
    width: auto;
    box-sizing: content-box;
    position: initial;
}

body {
    background-color: var(--color-primario);
    height: auto;
    font-family: var(--fuente-calibri);

}

.header{
    display: flex;
    height: 140px;
    background-color: var(--color-terciario);
    justify-content: space-between;
    align-items: center;
    padding: 2% 0% 0% 2%;
}

.logo{
    display: flex;
    align-items: center;
}

.logo_Obersvatorio_img{
    width: 110px;
    height: 110px;
    margin-right: 10px;
    display: flex;
    flex-direction:column;
    justify-content:center;
    position: initial;
}

.logo_nombre{
    font-family: var(--fuente-calibri-negrita);
}


.menú_contenido{
    display: flex;
    gap: 6px;
    height: 2vh;
    width: auto;
    background-color: none;
    color: var(--color-primario);
    align-items:first baseline;
    margin: 5%;
    display: flex;
    justify-content:space-between;
    position: initial;
}

.header_contenido{
    display: flex;
    background-color: var(--color-primario);
    color: var(--color-sexto);
    position: initial;
    height: 5h;
    width: auto;
}

.menú_contenido{
    display: flex;
    justify-content: center;
    margin: 2rem 1rem 4rem 1rem;
    position: relative;
}

.header__menú__link{
    font-weight: 500;
    justify-content:center;

}

.btn {
    background-color: var(--color-primario);
    display: flex;
    position: relative;
    width: 130px;
    height: auto;
    font-family: var(--fuente-calibri-negrita);
    font-size: 28px;
    color: var(--color-secundario);
    border: none;
    border-radius: 0.5rem;
    font-size: 75%;
    padding: 1rem;
    margin: auto;
    cursor: pointer;
    justify-content: center;
  }

.btn:hover {
    background-color: var(--color-secundario);
    color: var(--color-primario);
}

nav a{
    font-weight: 600;
    padding-right: 20px;
}

nav a:hover{
    color: none;
}


a{
    text-decoration: none;
    color: black;
}

.Título_contenido{
    display: flex;
    justify-content:center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    font-family: var(--fuente-calibri-negrita);
    font-size: none;
    color: var(--color-secundario);
    font-size: 4rem;
}

.Título-destaque{
    color: var(--color-secundario);
    align-items: center;
}

.título{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.presentación{
    padding: 10% 10%;
    display: flex;
    align-items:center;
}


.presentación_contenido_título{
    font-size: 40px;
    font-family: var(--fuente-Sicret-Mono-PERSONAL);
    color: var(--color-secundario);
}

.presentación_contenido_texto{
    font-size: 20px;
    font-family: var(--fuente-calibri-negrita);
    color: var(--color-cuarto);
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.contenido {
    display: flex;
    justify-content: center;
}

.imagen {
    width: 50%;
    height: 460px;
    margin-right: 20px;
    border-radius: 6px;
}

.h2{
    margin-bottom: 15px;
    font-size: 40px;
}

.Título_contenido{
    margin-bottom: 15px;
    font-size: 50px;
    margin: 1rem 0rem 1rem 0rem;
    flex-direction: initial;
}

.p{
    font-size: 17px;
    line-height: 1.6;
    margin-bottom: 30px;
}

.a{
    font-size: 20px;
    display: inline-block;
    text-decoration: none;
    width: 100%;
    margin-bottom: 15px;
    color: var(--color-cuarto);
    font-weight: 700;
}

.info-contacto-contenido{
    color: var(--color-terciario);
    font-size: 18px;
}

.Contenido_central {
    display: flex;
    justify-content: center;
    align-items: center;
    position:static;
    font-family: var(--fuente-calibri);
    margin: 0rem 18rem 0rem 18rem;
    }

.contenido-contacto{
    width: 100%;
    max-width: 1100px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-top: 90px;
}

.info-contacto{
    color: var(--color-terciario);
    font-size: 20px;
}

.contenido-contacto .campo, textarea{
    width: 100%;
    padding: 14px 10px;
    font-size: 15px;
    border: 2px solid var(--color-septimo);
    margin-bottom: 20px;
    border-radius: 8px;
    outline: 0px;
    justify-content: center;
}

.contenido-contacto form textarea{
    min-width: 500px;
    max-width: 500px;
    min-height: 130px;
    max-height: 400px;
}

.contenido-contacto{
    display: grid;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    margin: 0rem 10rem 4rem 10rem;
}


.btn_enviar {
    padding: 15px;
    font-size: 18px;
    border: none;
    outline: 0px;
    background: var(--color-secundario);
    color: var(--color-terciario);
    border-radius: 4px;
    cursor: pointer;
    transition: all 300ms ease;
}

.btn_enviar:hover{
    background: var(--color-terciario);
    color: var(--color-secundario);
}

.presentación_enlaces{
    display: flex;
    justify-content: center;
}

.presentación__enlaces__contenido{
    display: flex;
    justify-content: space-between;
    font-family: var(--fuente-calibri-negrita);
    font-size: 60%;
    color: var(--color-terciario);
    align-items:baseline;
    position: initial;
    gap: 120px;
}

.presentación__enlaces__iconos{
    text-align: center;
    padding: 10px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.footer{
    background-color: var(--color-secundario);
    padding: 25px;
    width: auto;
    height: 18vh;
    color: var(--color-primario);
    justify-content:space-between;
    display: flex;
    gap:2px;
    margin:  2rem 0rem 0rem 0rem
}